<nav class="navbar navbar-light bg-white shadow-sm ">
    <div class="container-fluid">

        <button
            class="btn btn-outline-secondary d-md-none"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#sidebarMobile"
        >
            ☰
        </button>

        <a class="navbar-brand fw-semibold ms-2" href="#">
            <img
                src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg"
                width="30"
                height="24"
                alt="Logo"
            >
            Log Monitoring
        </a>
    </div>
</nav>
